
Code/ProductStore/.vs/config/applicationhost.config
Code/ProductStore/.vs/config/applicationhost.config
Code/ProductStore/.vs/ProductStore/v15/Server/sqlite3/storage.ide-shm
Code/ProductStore/.vs/ProductStore/v15/Server/sqlite3/storage.ide-wal
Code/ProductStore/.vs/ProductStoreServices/v15/Server/sqlite3/storage.ide-shm
Code/ProductStore/DataRepository/obj/Debug/DataRepository.csproj.CoreCompileInputs.cache
Code/ProductStore/DataRepository/obj/Debug/DataRepository.csprojAssemblyReference.cache
Code/ProductStore/Models/obj/Debug/Models.csprojAssemblyReference.cache
Code/ProductStore/ProductStore/obj/Debug/ProductStore.csproj.CoreCompileInputs.cache
Code/ProductStore/ProductStore/obj/Debug/ProductStore.csprojAssemblyReference.cache
Code/ProductStore/Service/obj/Debug/Service.csproj.CoreCompileInputs.cache
Code/ProductStore/Service/obj/Debug/Service.csprojAssemblyReference.cache
Code/ProductStore/.vs/config/applicationhost.config
Code/ProductStore/.vs/ProductStore/v15/Server/sqlite3/storage.ide-shm
Code/ProductStore/.vs/ProductStore/v15/Server/sqlite3/storage.ide-wal
Code/ProductStore/.vs/ProductStoreServices/v15/Server/sqlite3/storage.ide-shm
Code/ProductStore/DataRepository/obj/Debug/DataRepository.csproj.CoreCompileInputs.cache
Code/ProductStore/DataRepository/obj/Debug/DataRepository.csprojAssemblyReference.cache
Code/ProductStore/Models/obj/Debug/Models.csprojAssemblyReference.cache
Code/ProductStore/ProductStore/obj/Debug/ProductStore.csproj.CoreCompileInputs.cache
Code/ProductStore/ProductStore/obj/Debug/ProductStore.csprojAssemblyReference.cache
Code/ProductStore/Service/obj/Debug/Service.csproj.CoreCompileInputs.cache
Code/ProductStore/Service/obj/Debug/Service.csprojAssemblyReference.cache
